nav{
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 15px;
    align-items: center;
    color: darkgreen;
    background-color: azure;

}
img{
    align-content: center;
    height: 500px;
    width: 500px;
}
.img source{
    height: 400px;
    width: 400px;
}

body { background-color: blanchedalmond;

}
p{
    font: 1em sans-serif;
    height: 25px;
}
form {
    margin: auto;
    font-size: 30px;
    max-width: ;
}

textarea {
    font-size: 16px;
    width: 20%;
}

main{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .project {
      width: 100%;
    }
    
.links {
    font-size: 30px;
}

.about-section:nth-of-type(n) > img.about-img {
    float: unset;
    margin: unset;
    width: 30%;
    height: 30%
  }